@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src:
    local("Bebas Neue Bold"),
    local("Bebas Neue-Bold"),
    url("../fonts/BebasNeue-Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    local("Bebas Neue Regular"),
    local("Bebas Neue-Regular"),
    url("../fonts/BebasNeue-Regular.otf") format("otf");
  font-weight: regular;
}

@font-face {
  font-family: "Druzhok";
  src:
    local("Druzhok"),
    local("Druzhok"),
    url("../fonts/Druzhok.otf") format("otf");
  font-weight: bold;
}

:root {
  --secondary-font: "Bebas Neue", sans-serif;
  --accent-font: "Druzhok", sans-serif;
}
